# Compiled class file
/build/*
/dist/*
/target/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/
/code/albertgame-avg/nbproject/private/
/code/albertgame-avg/build/
/code/afengine/nbproject/private/
/code/afengine/build/
/code/afengine/dist/
/code/afengine-cpp/.vs/
/code/afengine-cpp/x64/Debug/
/code/albertgame-avg/dist/